<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Gestión de Vuelos</title>
        <link href={{ url_for('static', filename='css/styles.css') }} rel="stylesheet" />
        <script src={{ url_for('static', filename='js/all.min.js ') }} crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-light bg-light">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">Gestión de Vuelos</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Buscar..." aria-label="Buscar..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/perfil">nlbarrios@uninorte.edu.co</a></li>
                        <li><a class="dropdown-item" href="/cambiar_clave">Cambiar contraseña</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading"></div>
                            <a class="nav-link border border-white" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                Inicio
                            </a>
                            <!--<div class="sb-sidenav-menu-heading">Interface</div>-->
                            <a class="nav-link collapsed border border-white" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                Perfil de Usuario
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseUsers" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/agregar_usuario">Agregar usuario</a>
                                    <a class="nav-link" href="/vuelos_asignados">Ver vuelos asignados</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed border border-white" href="#" data-bs-toggle="collapse" data-bs-target="#collapseFlights" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-plane"></i></div>
                                Vuelos
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseFlights" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link" href="/crear_vuelo">Crear vuelo</a>
                                    <a class="nav-link" href="/reservar_vuelo">Reservar vuelo</a>
                                    <a class="nav-link" href="/buscar_vuelo">Buscar vuelo</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed border border-white" href="#" data-bs-toggle="collapse" data-bs-target="#collapseDash" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-bar"></i></div>
                                Dashboard
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseDash" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/dashboard_vuelos">Dashboard vuelos</a>
                                    <a class="nav-link" href="/dashboard_usuarios">Dashboard usuarios</a>
                                    <a class="nav-link" href="/dashboard_calificaciones">Dashboard calificaciones</a>
                                </nav>
                            </div>
                            
                            <div class="sb-sidenav-menu-heading"></div>
                            <a class="nav-link border border-white" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                                Cerrar Sesion
                            </a>

                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Hora:</div>
                        Start_Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">

                {% block contenido %}
                    
                {% endblock %}

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Gestión de Vuelos 2021</div>
                            <div>
                                <a class="text-link-w" href="/privacidad">Politicas de privacidad</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src={{ url_for('static', filename='js/bootstrap.bundle.min.js') }} crossorigin="anonymous"></script>
        <script src={{ url_for('static', filename='js/scripts.js') }}></script>
        <script src={{ url_for('static', filename='js/simple-datatables.js') }}></script>
        <script src={{ url_for('static', filename='js/datatables-simple-demo.js') }}></script>
        <script src={{ url_for('static', filename='js/chart.min.js') }}></script>
        <script src={{ url_for('static', filename='js/chart-bar-demo.js') }}></script>
    </body>
</html>
