{% extends 'baseLog.html' %}

{% block contenido %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Política de privacidad de datos</h3></div>
                    <div class="card-body">
                        <div class="small mb-3 text-muted">
                            <p class="text-justify">La protección de los datos personales está consagrada en el articulo 15 de la Constitución
                                Política como el derecho fundamental que tienen todas las personas a conservar su intimidad
                                personal y familiar y su buen nombre, lo mismo que conocer, actualizar y rectificar las
                                informaciones que se hayan recogido sobre ellos en bancos de datos y en archivos de las
                                entidades públicas y privadas. A su vez, el articulo 20 ibídem garantiza a toda persona el
                                derecho fundamental de infomar y recibir información veraz e imparcial.
                            </p>
                            <p class="text-justify">
                                En desarrollo de los preceptos constitucionales antes citados, el Congreso de la República
                                expidió la Ley 1266 de 2008, con el objeto desarrollar el derecho constitucional que tienen
                                todas las personas a conocer, actualizar y rectificar las informaciones que se hayan
                                recogido sobre ellas en bancos de datos personales.
                            </p>
                            <p class="text-justify">
                                A su turno, el articulo 17 de la Ley Estatutaria 1581 de 2012, “Régimen General de
                                Protección de Datos Personales, y el articulo 2 2.2. 25. 3.1. del Decreto 1074 de 2015,
                                “Decreto Único Reglamentario del Sector Comercio Industria y Turismo”, consagraron la
                                necesidad de garantizar de forma integral la protección y el ejercicio del derecho
                                fundamental de Habeas Data y estableció dentro de los deberes de los responsables del
                                tratamiento de datos personales. desarrollar politicas para este derecho.
                            </p>
                            <p class="text-justify">
                                La Ley 1712 de 2014, sobre transparencia y derecho de acceso a la información pública
                                nacional, adiciona nuevos principios, conceptos y procedimientos para el ejercicio y
                                garantía del referido derecho; junto con lo dispuesto en el Libro 2. Parte VIII, Título IV
                                “Gestión de la Información Clasificada y Reservada” del Decreto 1080 de 2015, ”por medio del
                                cual se expide el Decreto Reglamentario Único del Sector Cultura”, que establece
                                disposiciones sobre el acceso a datos personales en posesión de los sujetos obligados.
                            </p>
                            <p class="text-justify">
                                A través del Decreto 1083 de 2015, “Decreto Único Reglamentario del Sector Función Pública”,
                                (modiiicado porel Decreto 1499 de 2017) se promueve el mejoramiento continuo de las
                                entidades públicas del pais, garantizando un adecuado ambiente de control mediante la
                                deiinición de responsabilidades en relación con las líneas de defensa del Modelo Estándar de
                                Control Interno. Mediante Resolución No 1905 de 2019, se actualizó el Modelo Integrado de
                                Gestión (MIG) del Ministerio/Fondo Único de Tecnologias de la Información y las
                                Comunicaciones, acogiendo los lineamientos del Decreto 1499 de 2017 y estableciendo el
                                Comité MIG como la instancia orientadora del Modelo, en donde se tratan los temas referentes
                                a las dimensiones y políticas de gestión y desempeño Institucional.
                            </p>
                            <p class="text-justify">
                                De acuerdo con el numeral 14 del articulo 9 de la misma resolución, corresponde al Comité
                                MIG aprobar y hacer seguimiento a las políticas de gestión y directrices en materia de
                                Estrategia de gobierno digital y Seguridad de la Infomación en la Entidad.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}




Your edit has been accepted