{% extends 'base.html' %}

{% block contenido %}
<main class="back-img">
    <div class="container-fluid px-4">
        <h1 class="mt-4">Vuelos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active">Vuelos</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-black-bold mb-4">
                    <div class="card-body"><i class="fas fa-plane"></i> Crear vuelo</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link" href="/crear_vuelo"></a>
                        <div class="small text-black"><i class="fas fa-arrow-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-black-bold mb-4">
                    <div class="card-body"><i class="fas fa-plane"></i> Reservar vuelo</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link" href="/reservar_vuelo"></a>
                        <div class="small text-black"><i class="fas fa-arrow-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-black-bold mb-4">
                    <div class="card-body"><i class="fas fa-plane"></i> Buscar vuelo</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-black stretched-link" href="/buscar_vuelo"></a>
                        <div class="small text-black"><i class="fas fa-arrow-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
